<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hello Desy</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link href="/static/assets/style/main.css" rel="stylesheet">    
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <a class="navbar-brand" href="/">Desy</a>

            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    {{#each menu}}
                    <li class="nav-item {{#ifCond ../currentRoute '===' link }}active{{/ifCond}}">
                        <a class="nav-link" href="{{link}}">{{name}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </nav>
    </header>

    <main>

    {{{body}}}

    </main>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    
    <script>
        window.loadPartial = () => {
            var $partial = $('[data-partial]')
            if($partial.length) {
                $.get($partial.data('partial'), function (data) {
                    var template = Handlebars.compile(data)
                    $partial.empty().html(template)
                }, 'html')
            }
        }
        window.loadPartial()
    </script>

</body>
</html>